*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#ECFDF5;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #064E3B;
    gap: 1rem;
    border-bottom: 1px solid #064E3B;
}

.header .header-primary,
.header .header-secondary{
    font-family: "Playfair Display", serif;
}

.header-primary{
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 900;
    color: #ECFDF5;

}

.header-secondary{
    font-weight: 400;
    font-size: 1rem;
    color: #E5E7EB;
}

.header-input{
    height: 2rem;
    width: 70%;
    border-radius: 0.3rem;
    padding: 1rem;
    margin-bottom: .8rem;
    border-color: #E5E7EB;
}



@media (min-width:768px) {
    .header-primary{
        font-size: 3.5rem;
    }

    .header-secondary{
        font-size: 1.8rem;
    }

    .header-input{
        width: 50%;
        font-size: 1rem;
    }


}